#----------------------------------------------------------------------------------------------------
# Directory : /
#----------------------------------------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On

    #----------------------------------------------------------------------------------------------------
    # Basic rule to get Controller and Action
    #----------------------------------------------------------------------------------------------------
    RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)$ SourceFiles/App/index.php?controller=$1&action=$2

    #----------------------------------------------------------------------------------------------------
    # Basic rules to get Controller and Action and params
    #----------------------------------------------------------------------------------------------------
    RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/([a-z0-9\-]+)$ SourceFiles/App/index.php?controller=$1&action=$2&param1=$3

    RewriteRule ^.*$ SourceFiles/App/index.php [L]
</IfModule>